@font-face {
  font-family: bariol;
  src: url(https://cdn.kano.me/fonts/bariol_bold_italic-webfont.eot);
  src: url(https://cdn.kano.me/fonts/bariol_bold_italic-webfont.eot#iefix) format("embedded-opentype"), url(https://cdn.kano.me/fonts/bariol_bold_italic-webfont.woff) format("woff"), url(https://cdn.kano.me/fonts/bariol_bold_italic-webfont.ttf) format("truetype"), url(https://cdn.kano.me/fonts/bariol_bold_italic-webfont.svg#bariol_boldbold_italic) format("svg");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: bariol;
  src: url(https://cdn.kano.me/fonts/bariol_regular-webfont.eot);
  src: url(https://cdn.kano.me/fonts/bariol_regular-webfont.eot#iefix) format("embedded-opentype"), url(https://cdn.kano.me/fonts/bariol_regular-webfont.woff) format("woff"), url(https://cdn.kano.me/fonts/bariol_regular-webfont.ttf) format("truetype"), url(https://cdn.kano.me/fonts/bariol_regular-webfont.svg#bariol_regularregular) format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: bariol;
  src: url(https://cdn.kano.me/fonts/bariol_regular_italic-webfont.eot);
  src: url(https://cdn.kano.me/fonts/bariol_regular_italic-webfont.eot#iefix) format("embedded-opentype"), url(https://cdn.kano.me/fonts/bariol_regular_italic-webfont.woff) format("woff"), url(https://cdn.kano.me/fonts/bariol_regular_italic-webfont.ttf) format("truetype"), url(https://cdn.kano.me/fonts/bariol_regular_italic-webfont.svg#bariolregular_italic) format("svg");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: bariol;
  src: url(https://cdn.kano.me/fonts/bariol_light-webfont.eot);
  src: url(https://cdn.kano.me/fonts/bariol_light-webfont.eot#iefix) format("embedded-opentype"), url(https://cdn.kano.me/fonts/bariol_light-webfont.woff) format("woff"), url(https://cdn.kano.me/fonts/bariol_light-webfont.ttf) format("truetype"), url(https://cdn.kano.me/fonts/bariol_light-webfont.svg#bariol_lightlight) format("svg");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: bariol;
  src: url(https://cdn.kano.me/fonts/bariol_light_italic-webfont.eot);
  src: url(https://cdn.kano.me/fonts/bariol_light_italic-webfont.eot#iefix) format("embedded-opentype"), url(https://cdn.kano.me/fonts/bariol_light_italic-webfont.woff) format("woff"), url(https://cdn.kano.me/fonts/bariol_light_italic-webfont.ttf) format("truetype"), url(https://cdn.kano.me/fonts/bariol_light_italic-webfont.svg#bariollight_italic) format("svg");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: bariol;
  src: url(https://cdn.kano.me/fonts/bariol_thin-webfont.eot);
  src: url(https://cdn.kano.me/fonts/bariol_thin-webfont.eot#iefix) format("embedded-opentype"), url(https://cdn.kano.me/fonts/bariol_thin-webfont.woff) format("woff"), url(https://cdn.kano.me/fonts/bariol_thin-webfont.ttf) format("truetype"), url(https://cdn.kano.me/fonts/bariol_thin-webfont.svg#bariolthin) format("svg");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: bariol;
  src: url(https://cdn.kano.me/fonts/bariol_thin_italic-webfont.eot);
  src: url(https://cdn.kano.me/fonts/bariol_thin_italic-webfont.eot#iefix) format("embedded-opentype"), url(https://cdn.kano.me/fonts/bariol_thin_italic-webfont.woff) format("woff"), url(https://cdn.kano.me/fonts/bariol_thin_italic-webfont.ttf) format("truetype"), url(https://cdn.kano.me/fonts/bariol_thin_italic-webfont.svg#bariolthin_italic) format("svg");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: bemioregular;
  src: url(https://cdn.kano.me/fonts/bemio-regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: vagbold;
  src: url(https://cdn.kano.me/fonts/vag-rounded.eot);
  src: url(https://cdn.kano.me/fonts/vag-rounded.eot#iefix) format("embedded-opentype"), url(https://kano.me/assets/fonts/vag-rounded.ttf) format("truetype"), url(https://kano.me/assets/fonts/vag-rounded.otf) format("opentype");
  font-weight: 400;
  font-style: normal;
}
.font-impact {
  font-family: "vagbold", Helvetica, Arial, sans-serif;
  font-weight: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "vagbold", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-family: vagbold, Helvetica, Arial, sans-serif;
  font-weight: 400;
  margin-bottom: 1rem;
  color: #292f35;
}
p {
  font-family: "bariol", Helvetica, Arial, sans-serif;
  font-weight: 400;
  margin: 0;
}
.font-56 {
  font-size: 3.5rem;
  line-height: 4rem;
}
.font-48 {
  font-size: 3rem;
  line-height: 3.5rem;
}
.font-40 {
  font-size: 2.5rem;
  line-height: 3rem;
}
.font-32 {
  font-size: 2rem;
  line-height: 2.5rem;
}
.font-24 {
  font-size: 1.5rem;
  line-height: 2.2rem;
}
.font-20 {
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.font-16 {
  font-size: 1rem;
  line-height: 1.5rem;
}
.font-14 {
  font-size: 0.875rem;
  line-height: 1.125rem;
}
.font-12 {
  font-size: 0.75rem;
  line-height: 0.875rem;
}
.font-impact,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: vagbold, Helvetica, Arial, sans-serif;
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1rem;
  color: #292f35;
}
p {
  font-family: bariol, Helvetica, Arial, sans-serif;
  font-weight: 400;
  margin: 0;
}
section {
  -ms-flex: none;
  flex: none;
}
.kano-btn {
  position: relative;
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "bariol", Helvetica, Arial, sans-serif;
  border-radius: 1.25rem;
  background-color: #ff6900;
  color: #fff;
  transition: background-color 0.3s;
  border: none;
  cursor: pointer;
  text-overflow: ellipsis;
  overflow: hidden;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  padding: 19px 29px;
  margin-top: 2px;
  font-size: 0.875rem;
  line-height: 0.125rem;
  /* .small-btn(); */
}
.kano-btn:hover {
  background-color: #d9571e;
}
.kano-btn,
.kano-btn:hover,
.kano-btn:visited,
.kano-btn:focus,
.kano-btn:active,
.kano-btn.active {
  color: #fff;
  text-decoration: none;
}
.kano-newsletter-section {
  padding: 10px;
  background: #394148;
  color: #fff;
}
.kano-newsletter-section * {
  font-family: bariol;
}
.newsletter-headline {
  font-family: "vagbold", Helvetica, Arial, sans-serif;
  font-weight: 700;
  margin: 0px;
  max-width: 450px;
  text-align: left;
  padding: 27px 0 9px;
  color: #e3e4e6;
  font-size: 2.5rem;
  line-height: 3rem;
}
.newsletter-subheadline {
  font-weight: 200;
  max-width: 450px;
  color: #e3e4e6;
  margin-top: auto;
  text-align: left;
}
.newsletterSubmission {
  margin-top: -36px;
  margin-bottom: 14px;
}
/* .formInput {
    margin-top: 18px;
  } */
.input {
  border-radius: 8px;
  display: inline-block;
  font-size: 16px;
  line-height: 1.5rem;
  width: 100%;
  outline: none;
  border: 2px solid transparent;
  height: 42px;
  padding: 0 16px;
  margin-bottom: 20px;
  border: 2px solid #e9ebec;
}
label {
  min-width: 300px;
  font-size: 12px;
  color: #f5f5f5;
}
.message {
  background: #394148;
  margin-top: 0;
  font-size: 16px;
  line-height: 24px;
  text-transform: none;
  text-align: left;
  max-width: 400px;
  margin: 0px;
}
.button {
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "bariol";
  /* 2rem; */
  border-radius: 1.25rem;
  background-color: #ff6900;
  transition: background-color 0.3s;
  border: none;
  cursor: pointer;
  text-decoration: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #fff;
  vertical-align: middle;
  padding: 19px 29px;
  margin-top: 2px;
  font-size: 0.875rem;
  line-height: 0.125rem;
}
.button:hover {
  background-color: #d9571e;
}
.button,
.button:hover,
.button:visited,
.button:focus,
.button:active,
.button:active {
  color: #fff;
  text-decoration: none;
}
.consent-checkbox {
  padding: 0;
  margin: 0;
  height: 60px;
  display: flex;
  line-height: 16px;
  color: #e3e4e6;
}
.consent-checkbox a {
  font-weight: bold;
  color: #fff;
}
.checkbox {
  min-width: 12px;
  min-height: 12px;
  border: 1px solid #e3e4e6;
  border-radius: 3px;
}
/* @EXTRA_SMALL_AND_ABOVE  @MOBILE_AND_BELOW */
.message {
  padding-left: 20px;
}
.inputContainer {
  padding-top: 2.5px;
  padding-right: 4px;
}
@media (min-width: 481px) and (max-with: 680px) {
  .newsletter-headline {
    color: green;
  }
}
/* 964px */
/* @MOBILE_AND_ABOVE 681 @TABLET_AND_ABOVE 980*/
@media (min-width: 681px) and (max-width: 981px) {
  .newsletter-headline {
    color: red;
    padding: 0 0 7px;
  }
  .consent-checkbox {
    margin-top: 5px;
  }
  .newsletterSubmission,
  .newsletter-subheadline,
  .input {
    margin: 0;
  }
  button.kano-btn {
    margin: 17px 0;
  }
}
/* @TABLET_AND_ABOVE 981 */
@media (min-width: 981px) {
  .newsletter-headline {
    color: purple;
  }
}
/*# sourceMappingURL=style.css.map */
