// FONT
@font-face {
  font-family: bariol;
  src: url(https://cdn.kano.me/fonts/bariol_bold_italic-webfont.eot);
  src: url(https://cdn.kano.me/fonts/bariol_bold_italic-webfont.eot#iefix)
      format("embedded-opentype"),
    url(https://cdn.kano.me/fonts/bariol_bold_italic-webfont.woff)
      format("woff"),
    url(https://cdn.kano.me/fonts/bariol_bold_italic-webfont.ttf)
      format("truetype"),
    url(https://cdn.kano.me/fonts/bariol_bold_italic-webfont.svg#bariol_boldbold_italic)
      format("svg");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: bariol;
  src: url(https://cdn.kano.me/fonts/bariol_regular-webfont.eot);
  src: url(https://cdn.kano.me/fonts/bariol_regular-webfont.eot#iefix)
      format("embedded-opentype"),
    url(https://cdn.kano.me/fonts/bariol_regular-webfont.woff) format("woff"),
    url(https://cdn.kano.me/fonts/bariol_regular-webfont.ttf) format("truetype"),
    url(https://cdn.kano.me/fonts/bariol_regular-webfont.svg#bariol_regularregular)
      format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: bariol;
  src: url(https://cdn.kano.me/fonts/bariol_regular_italic-webfont.eot);
  src: url(https://cdn.kano.me/fonts/bariol_regular_italic-webfont.eot#iefix)
      format("embedded-opentype"),
    url(https://cdn.kano.me/fonts/bariol_regular_italic-webfont.woff)
      format("woff"),
    url(https://cdn.kano.me/fonts/bariol_regular_italic-webfont.ttf)
      format("truetype"),
    url(https://cdn.kano.me/fonts/bariol_regular_italic-webfont.svg#bariolregular_italic)
      format("svg");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: bariol;
  src: url(https://cdn.kano.me/fonts/bariol_light-webfont.eot);
  src: url(https://cdn.kano.me/fonts/bariol_light-webfont.eot#iefix)
      format("embedded-opentype"),
    url(https://cdn.kano.me/fonts/bariol_light-webfont.woff) format("woff"),
    url(https://cdn.kano.me/fonts/bariol_light-webfont.ttf) format("truetype"),
    url(https://cdn.kano.me/fonts/bariol_light-webfont.svg#bariol_lightlight)
      format("svg");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: bariol;
  src: url(https://cdn.kano.me/fonts/bariol_light_italic-webfont.eot);
  src: url(https://cdn.kano.me/fonts/bariol_light_italic-webfont.eot#iefix)
      format("embedded-opentype"),
    url(https://cdn.kano.me/fonts/bariol_light_italic-webfont.woff)
      format("woff"),
    url(https://cdn.kano.me/fonts/bariol_light_italic-webfont.ttf)
      format("truetype"),
    url(https://cdn.kano.me/fonts/bariol_light_italic-webfont.svg#bariollight_italic)
      format("svg");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: bariol;
  src: url(https://cdn.kano.me/fonts/bariol_thin-webfont.eot);
  src: url(https://cdn.kano.me/fonts/bariol_thin-webfont.eot#iefix)
      format("embedded-opentype"),
    url(https://cdn.kano.me/fonts/bariol_thin-webfont.woff) format("woff"),
    url(https://cdn.kano.me/fonts/bariol_thin-webfont.ttf) format("truetype"),
    url(https://cdn.kano.me/fonts/bariol_thin-webfont.svg#bariolthin)
      format("svg");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: bariol;
  src: url(https://cdn.kano.me/fonts/bariol_thin_italic-webfont.eot);
  src: url(https://cdn.kano.me/fonts/bariol_thin_italic-webfont.eot#iefix)
      format("embedded-opentype"),
    url(https://cdn.kano.me/fonts/bariol_thin_italic-webfont.woff)
      format("woff"),
    url(https://cdn.kano.me/fonts/bariol_thin_italic-webfont.ttf)
      format("truetype"),
    url(https://cdn.kano.me/fonts/bariol_thin_italic-webfont.svg#bariolthin_italic)
      format("svg");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: bemioregular;
  src: url(https://cdn.kano.me/fonts/bemio-regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: vagbold;
  src: url(https://cdn.kano.me/fonts/vag-rounded.eot);
  src: url(https://cdn.kano.me/fonts/vag-rounded.eot#iefix)
      format("embedded-opentype"),
    url(https://cdn.kano.me/fonts/vag-rounded.ttf) format("truetype"),
    url(https://cdn.kano.me/fonts/vag-rounded.otf) format("opentype");
  font-weight: 400;
  font-style: normal;
}

.container {
  width: 40%;
  padding-bottom: 50px;
  padding-top: 50px;
}

.label {
  color: #ffffff;
  font-size: 32px;
  line-height: 40px;
  font-weight: 400;
  text-align: left;
  padding-bottom: 0.75rem;
  text-transform: none;
  padding-top: 1rem;
}

.input {
  color: #414a51;
  border-radius: 8px;
  display: inline-block;
  font-size: 16px;
  line-height: 1.5rem;
  width: 90%;
  border-right: 0;
  border-bottom: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  border-top: 1px solid #ffffff;
  outline: none;
  border: 2px solid transparent;
  margin: 0 auto 14px;
  max-width: 368px;
  margin-right: 20px;
}

.message {
  color: #a7a7a7;
  background: #292f35;
  font-weight: 200;
  margin-top: 0;
  font-size: 16px;
  line-height: 24px;
  text-transform: none;
  text-align: left;
}

.button {
  position: relative;
  display: inline-block;
  font-weight: 700;
  border-radius: 2rem;
  background-color: #ff6900;
  border: none;
  color: #ffffff;
  text-decoration: none;
  transition: background-color 0.3s;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 12px;
  margin-top: 5px;
}

body {
  background: #292f35;
  color: #ffffff;
  font-family: bariol;
}

fieldset {
  border: none;
}

.checkbox-control {
  display: block;
  position: relative;
  margin-bottom: 10px;
  padding-top: 1px;
}

.checkbox {
  width: 16px;
  height: 16px;
  border: 1px solid #e9ebec;
  border-radius: 3px;
}

.checkbox-message {
  font-size: 14px;
  line-height: 16px;
  display: inline-block;
  color: #9fa4a8;
  // padding-left: 20px;
  text-align: left;
  // max-width: 343px;
  a {
    text-decoration: underline;
    color: #9fa4a8;
  }
}
