.container {
  width: 50%;
  padding-bottom: 50px;
  padding-top: 50px;
}

.label {
  color: #ffffff;
  font-size: 32px;
  line-height: 40px;
  font-weight: 400;
  text-align: left;
  padding-bottom: 0.75rem;
  text-transform: none;
  padding-top: 1rem;
}

.input {
  color: #414a51;
  border-radius: 8px;
  display: inline-block;
  font-size: 16px;
  line-height: 1.5rem;
  width: 90%;
  border-right: 0;
  border-bottom: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  border-top: 1px solid #ffffff;
  outline: none;
  border: 2px solid transparent;
  margin: 0 auto 14px;
  max-width: 368px;
  margin-right: 25px;
}

.message {
  color: #a7a7a7;
  background: #292f35;
  font-weight: 200;
  margin-top: 0;
  font-size: 16px;
  line-height: 24px;
  text-transform: none;
  text-align: left;
}

.button {
  position: relative;
  display: inline-block;
  font-weight: 700;
  border-radius: 2rem;
  background-color: #ff6900;
  border: none;
  color: #ffffff;
  text-decoration: none;
  transition: background-color 0.3s;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

body {
  background: #292f35;
  color: #ffffff;
}

fieldset {
  border: none;
}

.checkbox-control {
  display: block;
  position: relative;
  margin-bottom: 10px;
  padding-top: 1px;
}

.checkbox {
  width: 16px;
  height: 16px;
  border: 1px solid #e9ebec;
  border-radius: 3px;
}

.span .checkbox-message {
  padding-left: 20px;
}

.checkbox-message {
  font-size: 14px;
  line-height: 16px;
  display: inline-block;
  color: #9fa4a8;
  // padding-left: 20px;
  text-align: left;
  // max-width: 343px;
  a {
    text-decoration: underline;
    color: #9fa4a8;
  }
}

.control {
  align-items: center;
}
